@import "../theme.css";

.form-group-lg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1.5em 0;
  align-items: center;
}
.form-group-lg label {
  display: block;
  width: 25%;
  font-weight: 600;
  font-size: 14px;
  color: black;
}
.register_input {
  display: block;
  width: 70%;
  margin-left: auto;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--bg-dark-color);
  outline: 0;
  padding: 10px;
}
.register_input::placeholder {
  color: var(--text-disabled);
}
/* .form-group-lg select {
  height: auto;
} */

.error-name-input {
  color: var(--bg-dark-color);
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: smaller;
}
.pass_info {
  background-color: rgb(255, 232, 232);
  margin: 0;
  padding: 0.8em;
  border-radius: 5px;
  color: rgb(92, 92, 92);
}
.pass_info li {
  list-style: none;
  padding-left: 1em;
}

@media screen and (max-width: 750px) {
  .form-group-lg label {
    width: 100%;
  }
  .form-group-lg input,
  select {
    width: 100%;
  }
}
