* {
  --bg-color: #0a1931;
  --text-color: #efefef;
  --hover-color: #ffc947;
  --blue-color: #185ADB;
} 
 
/* Customize the label (the checkbox) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin: 0rem 0rem 0.75rem 0.25rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid rgb(96, 86, 86);
}
  
/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: var(--text-color);
}
  
/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: var(--blue-color);
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;

}
  
/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

@media screen and (max-width: 750px) {
    .checkbox {
        font-size: 0.8rem;
    }
}